<header>
    <img src="/static/eatforhealing_logo.png" alt="Logo">

    <nav id="nav-menu">
        <a href="/" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/foodfordiabetes">Food suitable for Diabetes</a>
        <a href="/diabetescondition">Diabetes Condition</a>
        <a href="/blog">Blog</a>
        <a href="/events">Events</a>
        <a href="/contact">Contact</a>
        <a href="/login">Log in/Register</a>
    </nav>

    <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>